{{#partial "content"}}

    <div class="form-group d-flex justify-content-end">
        {{#if hasReleases}}
            <a href="/artists/{{artist.id}}/delete"><button class="btn btn-delete" type="button" name="button">Delete</button></a>
        {{/if}}
        <a href="/artists/{{artist.id}}/update"><button class="btn btn-edit" type="button" name="button">Edit</button></a>
    </div>
<div class="row">
    <div class="col-12 col-lg-6 col-xl-4 detail-main-panel">
        <div class="detail-cover-image"><img src="{{artist.imageUrl}}"></div>
        <h1 class="page-title">{{artist.name}}</h1>
        <p><strong>Biography</strong>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="d-flex justify-content-end">
            <h6 class="cratemate-social-heading">Mates who own this album</h6>
        </div>
        <div class="d-flex justify-content-end">
            <div class="cratemate-thumbnail"><img src="/images/matt-m.jpeg"></div>
            <div class="cratemate-thumbnail"><img src="/images/matt-m.jpeg"></div>
            <div class="cratemate-thumbnail"><img src="/images/matt-m.jpeg"></div>
        </div>
    </div>
    <!-- 2ND COLUMN -->
    <div class="col-12 col-lg-6 col-xl-8">
        <h4>In Collection</h4>
        <div class="collection-grid">
            {{#each releases}}
                <!--{{#if this = null}}-->
                    <div class="album album-thumbnail">
                        <a href="/releases/{{id}}">
                            <img src="{{imageUrl}}">
                            <div class="overlay d-flex justify-content-center align-items-center flex-column">
                                <p>{{title}}</p>
                            </div>
                        </a>
                    </div>
                <!--{{else}}-->
                <!--{{/if}}-->
            {{/each}}
        </div>
        <h4>Wishlist</h4>
        <div class="collection-grid">
            {{#each wishlist}}
                <!--{{#if this = null}}-->
                    <div class="album album-thumbnail">
                        <a href="/releases/{{id}}">
                            <img src="{{imageUrl}}">
                            <div class="overlay d-flex justify-content-center align-items-center flex-column">
                                <p>{{title}}</p>
                            </div>
                        </a>
                    </div>
                <!--{{else}}-->
                <!--{{/if}}-->
            {{/each}}
        </div>
    </div>
</div>

{{/partial}}

{{> layout.hbs}}