<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Crate Digger{{/block}}</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
    <div id="ui-dashboard">
        <!-- SIDEBAR -->
        <section class="sidebar">
            <a href="/">
                <img class="logo" src="/images/logo.png">
            </a>
            <div class="user-profile">
                <img class="profile-img" src="/images/matt-m.jpeg">
                <h2>Matt M.</h2>
                <h6>Member since 1999</h6>
                <div class="collection-overview">
                    <h6>COLLECTION OVERVIEW</h6>
                    <p>Collection Value: ${{total}}</p>
                    <p>Records: {{releasesSize}}</p>
                    <p>Artists: {{artistsSize}}</p>
                    <p>Singles: {{singlesSize}}</p>
                    <p>LPs: {{lpsSize}}</p>
                    <p>EPs: {{epsSize}}</p>
                    <p>78s: {{seventiesSize}}</p>
                </div>
                <div class="crate-mates">
                    <h6 class="text-center">CRATE MATES</h6>
                    <div class="crate-mates-images">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                        <img src="/images/matt-m.jpeg">
                    </div>
                </div>
            </div>
            <img id="display-record" src="/images/icon-record.svg">
        </section>
        <!-- NAVBAR -->
        <section class="main">
            <nav class="navbar d-flex justify-content-between align-items-center">
                <a class="button-blue" href="/releases/new">Add Record</a>
                <div>
                    <a class="button-hollow" href="/releases">Collection</a>
                    <a class="button-hollow" href="/artists">Artists</a>
                    <a class="button-hollow" href="/releases/wishlist">Wishlist</a>
                </div>
                <!-- <a class="button-logout" href="#logout">Logout</a> -->
            </nav>
            <!-- MAIN CONTENT -->
            {{#block "content"}} {{/block}}
        </section>
    </div>
    <!--begin main template-->




<!--end main template-->
{{#block "footer"}}{{/block}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>