{{#partial "content"}}

<div class="collection-grid">
    {{#if wishlist}}
        {{#each releasesWithArtists}}
            <div class="album">
                <a href="/releases/{{@key.id}}">
                    <img src="{{@key.imageUrl}}">
                    <div class="overlay d-flex justify-content-center align-items-center flex-column">
                        {{#each this}}
                            <h4>{{name}}</h4>
                        {{/each}}
                        <p>{{@key.title}}</p>
                    </div>
                </a>
            </div>
        {{/each}}
    {{else}}
        {{#each releasesWithArtists}}
            <div class="album">
                <a href="/releases/{{@key.id}}"><img src="{{@key.imageUrl}}"></a>
                <div class="overlay d-flex justify-content-center align-items-center flex-column">
                    {{#each this}}
                        <h4>{{name}}</h4>
                    {{/each}}
                    <p>{{@key.title}}</p>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>

{{/partial}}

{{> layout.hbs}}