{{#partial "content"}}
{{#if release.isInCollection}}
    <div class="d-flex justify-content-end">
        <a href="/releases/{{release.id}}/update"><button class="btn btn-edit" type="button" name="button">Edit</button></a>
    </div>
    <div class="row">
        <div class="col">
            <div class="detail-cover-image"><img src="{{release.imageUrl}}"></div>
            <h1 class="page-title">{{release.title}}</h1>
            <div class="d-flex justify-content-start align-items-center">
                {{#each artists}}
                    <a href="/artists/{{id}}">
                        <div class="artist-thumbnail"><img src="{{imageUrl}}"></div>
                        <h1>{{name}}</h1>
                    </a>
                {{/each}}
            </div>
            <h6>{{release.label}} {{release.labelNumber}}</h6>
            <h3>Tracks</h3>
            <ol>
                {{#each tracks}}
                    <li>{{title}}</li>
                {{/each}}
            </ol>
            <form action="/releases/{{release.id}}/tracks" method="post">
                <input type="text" name="title">
                <button type="submit">Add Track</button>
            </form>
        </div>
        <!-- 2ND COLUMN -->
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Media</h3>
                    <h6>Type: {{release.mediaType}}</h6>
                    <h6>Condition: {{mediaCondition}}</h6>
                </div>
                <div class="col">
                    <h3>Sleeve</h3>
                    <h6>Type: {{release.sleeveType}}</h6>
                    <h6>Condition: {{sleeveCondition}}</h6>
                </div>
            </div>
            <h3>Purchase Date: {{release.datePurchased}}</h3>
            <h6>Seller: {{release.seller}}</h6>
            <h6>Price: ${{release.price}}</h6>
            <h3>Notes:</h3>
            {{#each notes}}
                <p>{{formattedCreatedAt}}: {{content}}</p>
            {{/each}}
            <form action="/releases/{{release.id}}/notes" method="post">
                <input type="text" name="content">
                <button type="submit">Add Note</button>
            </form>
            <div class="d-flex justify-content-end">
                <h6 class="cratemate-social-heading">Mates who own this album</h6>
            </div>
            <div class="d-flex justify-content-end">
                <div class="cratemate-thumbnail"></div>
                <div class="cratemate-thumbnail"></div>
                <div class="cratemate-thumbnail"></div>
            </div>
        </div>
    </div>
{{else}}
    <div class="d-flex justify-content-end">
        <button class="btn btn-edit" type="button" name="button">Edit</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="detail-cover-image"><img src="{{release.imageUrl}}"></div>
            <h1 class="page-title">{{release.title}}</h1>
            <div class="d-flex justify-content-start align-items-center">
                {{#each artists}}
                    <a href="/artists/{{id}}">
                        <div class="artist-thumbnail"><img src="{{imageUrl}}"></div>
                        <h1>{{name}}</h1>
                    </a>
                {{/each}}
            </div>
            <h6>{{release.label}} {{release.labelNumber}}</h6>
            <h3>Tracks</h3>
            <ol>
                {{#each tracks}}
                    <li>{{title}}</li>
                {{/each}}
            </ol>
            <form action="/releases/{{release.id}}/tracks" method="post">
                <input type="text" name="title">
                <button type="submit">Add Track</button>
            </form>
        </div>
        <!-- 2ND COLUMN -->
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Media</h3>
                    <h6>Type: {{release.mediaType}}</h6>
                </div>
                <div class="col">
                    <h3>Sleeve</h3>
                    <h6>Type: {{release.sleeveType}}</h6>
                </div>
            </div>
            <h3>Notes:</h3>
            {{#each notes}}
                <p>{{formattedCreatedAt}}: {{content}}</p>
            {{/each}}
            <form action="/releases/{{release.id}}/notes" method="post">
                <input type="text" name="content">
                <button type="submit">Add Note</button>
            </form>
            <div class="d-flex justify-content-end">
                <h6 class="cratemate-social-heading">Mates who own this album</h6>
            </div>
            <div class="d-flex justify-content-end">
                <div class="cratemate-thumbnail"></div>
                <div class="cratemate-thumbnail"></div>
                <div class="cratemate-thumbnail"></div>
            </div>
        </div>
    </div>
{{/if}}


{{/partial}}

{{> layout.hbs}}