{{#partial "content"}}

<div class="collection-grid">
    {{#if wishlist}}
        {{#each wishlist}}
            <a href="/releases/{{id}}"><img src="{{imageUrl}}"></a>
        {{/each}}
    {{else}}
        {{#each releases}}
            <a href="/releases/{{id}}"><img src="{{imageUrl}}"></a>
        {{/each}}
    {{/if}}
</div>

{{/partial}}

{{> layout.hbs}}