{{#partial "content"}}

<div class="collection-grid">
    {{#if wishlist}}
        {{#each wishlist}}
            <a href="/releases/{{id}}"><img src="{{imageUrl}}"></a>
        {{/each}}
    {{else}}
        {{#each releasesWithArtists}}
            <div class="album">
                <a href="/releases/{{this.id}}"><img src="{{this.imageUrl}}"></a>
                <div class="overlay d-flex justify-content-center align-items-center flex-column">
                    {{#each @key}}
                        <p>{{this.name}}</p>
                    {{/each}}
                    <p>{{this.title}}</p>
                </div>
            </div>
        {{/each}}

        <!--{{#each releasesWithArtists}}-->
            <!--{{#each @key}}-->
                <!--<p>{{this.name}}</p>-->
            <!--{{/each}}-->
            <!--<p>{{this.title}}</p>-->
        <!--{{/each}}-->
    {{/if}}
</div>

{{/partial}}

{{> layout.hbs}}